body {
    margin: 0;
  }
  
  .join-room {
    max-width: 380px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    padding: 15px;
  }
  
  .join-room input {
    box-sizing: border-box;
    padding: 4px 11px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin-top: 15px;
  }
  
  .join-room .join-channel {
    color: #fff;
    background-color: #1677ff;
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .join-room .join-channel.disabled {
    background-color: #d9d9d9;
  }
  
  .room {
    padding-top: 100px;
  }
  
  .user-list {
    padding: 2.5rem;
    display: flex;
    gap: 1.25rem;
  }
  
  .user {
    border: 1px solid rgba(75, 85, 99, 1);
    width: 288px;
    height: 216px;
    box-sizing: border-box;
  }
  
  .user-name {
    color: rgba(255, 255, 255, 1);
    font-size: 0.875rem;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.25rem;
    position: absolute;
    bottom: 0;
  }
  
  .control {
    color: rgba(209, 213, 219, 1);
    background-color: rgba(33, 36, 44, 1);
    gap: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.75rem 1.5rem;
    box-sizing: border-box;
  }
  
  .left-control {
    gap: 0.75rem;
    display: flex;
    align-items: center;
  }
  
  .btn {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
  }
  
  .btn-phone {
    border-radius: 0.55rem;
    padding: 0.5rem 4rem;
    color: #fff;
    background-color: #16a34a;
  }
  
  .btn-phone-active {
    background-color: #dc2626;
  }
  
  .i-microphone,
  .i-camera,
  .i-phone,
  .i-phone-hangup {
    width: 1.2em;
    height: 1.2em;
    background-color: currentColor;
  }
  
  .i-microphone.off,
  .i-camera.off {
    opacity: 0.2;
  }
  